In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\miniconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\admin\miniconda3\lib\site-packages (2.3.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
#read csv file
df=pd.read_csv("D:\SUNBEAM\IIT_GEN-AI_94382\day_02\products.csv")

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\Admin\AppData\Local\Temp\ipykernel_22416\378811813.py:2: SyntaxWarning: invalid escape sequence '\S'
  df=pd.read_csv("D:\SUNBEAM\IIT_GEN-AI_94382\day_02\products.csv")

In [5]:
#print each row
data=pd.DataFrame(df)
print(data)

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
4         105    Water Bottle         Home    299        40
5         106        Backpack         Bags    899        10
6         107             Pen   Stationery     20       300
7         108      Headphones  Electronics   1299         8
8         109      Coffee Mug         Home    149        60
9         110      HDMI Cable  Accessories    299        35

In [6]:
#number of rows and columns
print("number of columns:", len(data.columns))
print("number of rows:", len(data))

number of columns: 5
number of rows: 10

In [7]:
#Total number of products priced above 500
print(df[df['price']>500])
#count of products priced above 500

print("Total number of products priced above 500:", len(df[df['price']>500]))

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
5         106        Backpack         Bags    899        10
7         108      Headphones  Electronics   1299         8
Total number of products priced above 500: 4

In [8]:
print("hii")

hii

In [9]:
#Average price of all products
print(df['price'])
print("Average price of all products:", df['price'].mean())

0     599
1     799
2     199
3      49
4     299
5     899
6      20
7    1299
8     149
9     299
Name: price, dtype: int64
Average price of all products: 461.1

In [11]:
#List all products belonging to a specific category (user input)
catogory = input("Enter the category: ")
print(df[df['category']==catogory])

   product_id product_name category  price  quantity
5         106     Backpack     Bags    899        10

In [13]:
#Total quantity of all items in stock
print("Total quantity of all items in stock:", df['quantity'].sum())

Total quantity of all items in stock: 663